*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    user-select: none;
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 2em auto;
}

.titlebar{
    display: grid;
    grid-template-columns: auto 3em 3em 3em ;
    background-color: rgb(50, 50, 51);
}

#title{
    font-size: x-large;
    color: white;
    -webkit-app-region:drag
}

.mainbtn{
    font-size: large;
    background-color: transparent;
    border: 0px;
    color: white;
    cursor: pointer;
}

.maincontainer{
    background-color: rgb(34, 37, 42);
    display: grid;
    grid-template-rows: 3em auto;
}

#canvas{
    background-color: transparent;
    height: calc(100vh - 5em);
    width: 100%;
    display: none;
    justify-self: center;
    object-fit: contain;
}

#txt{
    width: 100%;
    margin: 3px;
    font-size: x-large;
    outline: 0px;
    border: 0px solid black;
    border-radius: 3px;
}

.controlbtn{
    font-size: 2em;
    margin: 3px;
    width: 3em;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
}

.controlbtn:hover{
    background-color: green;
    color: white;
}